<a href="https://colab.research.google.com/github/nadirras/Final-Project/blob/main/Scrabble_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Build your Point Dictionary**

In [20]:
letters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N",
           "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
points = [1, 3, 3, 2, 1, 4, 2, 4, 1, 8, 5, 1, 3, 4, 1, 3, 10, 1, 1, 1, 1, 4, 4, 
          8, 4, 10]

In [2]:
letter_to_points = {keys:values for keys, values in zip(letters,points)}
letter_to_points

{'A': 1,
 'B': 3,
 'C': 3,
 'D': 2,
 'E': 1,
 'F': 4,
 'G': 2,
 'H': 4,
 'I': 1,
 'J': 8,
 'K': 5,
 'L': 1,
 'M': 3,
 'N': 4,
 'O': 1,
 'P': 3,
 'Q': 10,
 'R': 1,
 'S': 1,
 'T': 1,
 'U': 1,
 'V': 4,
 'W': 4,
 'X': 8,
 'Y': 4,
 'Z': 10}

In [11]:
letter_to_points[' '] = 0

**Score a Word**

In [17]:
def score_word(word):
  point_total = 0
  for value in word:
    point_total += letter_to_points[value]
    letter_to_points.get(point_total,0)
  return point_total

In [19]:
brownie_points = score_word("BROWNIE")
brownie_points

15

**Score a Game**

In [44]:
player_to_words =  {"player1" : ["BLUE", "TENNIS", "EXIT"], "wordNerd" : ["EARTH", "EYES", "MACHINE"],
                    "lexiCon" : ["ERASER", "BELLY", "HUSKY"], "profReader" : ["ZAP", "COMA", "PERIOD"]}

In [45]:
player_to_points = {}

In [46]:
for player, words in player_to_words.items():
  player_points = 0
  for word in words:
    player_points += score_word(word)
  player_to_points[player] = player_points

In [47]:
player_to_points

{'player1': 29, 'wordNerd': 32, 'lexiCon': 31, 'profReader': 31}